@import "vars";
@import "global";
@import "fonts";

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.top__head {
    padding-top: 40px;
    margin-bottom: 50px;
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    &-text {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }
}
.top {
    min-height: 800px;
    background-image: url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top__info {
    color: $orange;
    text-align: center;
    text-transform: uppercase;
    &-title {
        font-size: 41px;
        font-weight: 900;
        margin: 0;
        margin-bottom: 25px;
    }
    &-text {
        text-transform: none;
        color: white;
        font-size: 21px;
        line-height: 28px;
        font-family: "Roboto Light", sans-serif;
        padding: 0 15px;
        margin-bottom: 70px;
        span {
            color: $orange;
            font-family: "Roboto Bold", sans-serif;
            font-weight: 700;
        }
    }
    &-titlebig {
        color: white;
        font-size: 80px;
        font-weight: 700;
        position: relative;
        h2 {
            margin: 0;
            margin-bottom: 25px;
        }
        .line {
            width: 290px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 260px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
            }
            &::before {
                left: -100px;
            }
            &::after {
                right: -100px;
            }
        }
    }
    &-btn {
        padding: 25px 30px;
        text-transform: uppercase;
        color: white;
        background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
        border: 2px solid rgba(0, 0, 0, 0.023);
        margin-bottom: 70px;
        font-size: 21px;
        font-family: "RobotoCondensed", sans-serif;
        font-weight: 400;
    }
}

.top__info-bottom {
    &-text {
        color: #fff;
        margin-bottom: 13px;
        font-family: "Roboto Thin", sans-serif;
        font-size: 15px;
    }
    img {
        margin-bottom: 60px;
    }
}

// start waiting
.waiting {
    padding: 85px 0 75px;
    background-color: #efefef;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__header {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
        color: black;
        margin: 0;
    }
    &__divider {
        margin: 20px auto;
        width: 280px;
        height: 4px;
        background-color: $orange;
    }
    &__subheader {
        text-align: center;
        color: $gray;
        margin-bottom: 45px;
        font-size: 23px;
    }
}
.wrapper__item {
    text-align: center;
    font-size: 15px;
    font-family: "Roboto Light", sans-serif;
    max-width: 360px;
    & + .wrapper__item {
        margin-left: 30px;
    }
    img {
        padding-bottom: 30px;
        width: 100%;
    }
}

.optimization {
    padding: 102px 0 107px;
    &__inner {
        position: relative;
    }
    &__header {
        margin-left: 405px;
        text-transform: uppercase;
        color: #299cbd;
        font-family: "Roboto Black", sans-serif;
    }
    &__text {
        margin-top: 25px;
        font-family: "Roboto Light", sans-serif;
        font-size: 17px;
        color: $gray;
        margin-left: 405px;
        span {
            font-family: "Roboto Bold", sans-serif;
            font-weight: 700;
        }
    }
}
.opt-img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.abilities {
    background-image: url(../images/abilities-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    &__header {
        padding-top: 85px;
        color: #fff;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.abilities__item {
    color: #efefef;
    text-align: center;
    max-width: 205px;
    &-text {
        font-size: 17px;
        font-family: "Roboto Light", sans-serif;
    }
}
.item__round {
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 50%;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abilities__divider {
    margin-bottom: 41px;
}
.gift {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #efefef;
    img {
        padding-bottom: 40px;
    }
    &__text {
        margin-top: 40px;
        font-size: 30px;
        margin-bottom: 45px;
    }
}

.webinar {
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
    &__info{
        text-transform: uppercase;
        font-size: 30px;
        padding-top: 40px;
        &-header{
            margin-left: 0;
            margin-bottom: 25px;
        }
        &-text{
            color: $gray;
            font-size: 23px;
        }
    }
}
.footer{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 65px;
    background-color: #1a1a1a;
    color: #888888;
    .footer__text{
        a{
            text-decoration-line: underline;
            margin-bottom: 10px;
        }
    }
}
@media(max-width: 1350px){
    .top__info-titlebig .line::before,
    ::after{
        display: none;
    }
}
@media(max-width: 1170px){
    .waiting__wrapper{
        justify-content: center;
    }
    .wrapper__item{
        margin-top: 20px;
    }
    .waiting__subheader{
        margin-bottom: 10px;
    }
    
}

@media(max-width: 1141px){
    .top__info-titlebig h2{
        font-size: 70px;
    }
    .abilities__inner{
        justify-content: center;
        flex-wrap:wrap;
        
    }
    .abilities__item{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .waiting__divider{
        margin-bottom: 0;
    }
}

@media(max-width: 809px){
    .opt-img{
        display: none;
    }
    .optimization__text{
        margin: 0 auto;

    }
    .optimization__header{
        margin: 0 auto 20px;
        text-align: center
    }

}
@media(max-width: 620px){
    .opt-img{
        width: 70%;
    }
    .wrapper__item{
        img{
            width: 70%;
        }
    }
    .gift__text{
        font-size: 25px;
    }
    .top__info-btn,
    .gift__btn{
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media(max-width: 400px){
    .webinar__img{
        width: 80%;
    }
}