.footer {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

@media(max-width: 720px) {
    .footer {
        flex-direction: column;
    }
}