html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
// Disalbe ios horizontal scroll
html, body { 
    max-width: 100%; 
    overflow-x: hidden; 
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    color: $maincolor;
}
.container {
    max-width: 1450px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
}

.hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    margin-right: 50px;
    cursor: pointer;
    span {
        display: block;
        height: 5px;
        width: 100%;
        background: #253238;
        border-radius: 3px;
        margin-bottom: 5px;
        &:nth-child(1) {
            width: 100%;
        }
        &:nth-child(2) {
            width: 75%;
            transition: all 200ms ease-in-out;
        }
        &:nth-child(3) {
            width: 50%;
            transition: all 400ms ease-in-out;
        }
    }
    &:hover {
        span {
            width: 100%;
            &:nth-child(1) {
                animation: burger-hover 1s infinite ease-in-out alternate;
            }
            &:nth-child(2) {
                animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
            }
            &:nth-child(3) {
                animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
            }
        }
    }
}

@keyframes burger-hover {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

//Theme button
.header {
    &__item {
        &-light {
            color: #fff;
        }
        &-checkbox {
            font-size: 18px;
            width: 223px;
            height: 47px;
            border: 2px solid white;
            padding: 10px 25px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 700;
            input {
                width: 45px;
                height: 26px;
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                border-radius: 15px;
                background-color: white;
                position: relative;
                border: 1px solid #696969;
                &::before {
                    content: "";
                    width: 21px;
                    height: 21px;
                    cursor: pointer;
                    border-radius: 50%;
                    background: #174c81;
                    position: absolute;
                    right: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 1px solid #253238;
                    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
                }
                &:checked {
                    background: $maincolor;
                    &::before {
                        right: 20px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
