@media(max-width: 1130px){
    .google__inner{
        .comments__item-title{
        font-size: 40px;
        }
    }
}

@media(max-width: 930px){
    .google__item{
        margin: 0 auto;
    }
    .google__inner{
        .comments__item-title{
            text-align: center;
            }
    }
    .google__wrapper{
        display: block;
        &-item{
            max-width: 100%;
        }
        &-title{
            text-align: center;
        }
    }
}


@media(max-width: 650px){
    .google__item{
        padding: 25px 25px;
    }
    .google__list{
        font-size: 18px;
        li + li {
            margin-top: 18px;
        }
    }
    .google__wrapper-title{
        font-size: 44px;
    }
    .google__wrapper-text{
        font-size: 20px;
    }
}

@media(max-width: 480px){
    .google{
        &__inner{
            .comments__item-title{
                font-size: 27px;

            }
        }
    }
}

@media(max-width: 360px){
    .google__wrapper-text{
        font-size: 16px;
    }
}