@media (max-width: 950px) {
    .header__bottom-mobile {
        .header__bottom-item-hidden {
            width: 100%;
            margin-left: 0;
        }
    }
}
@media (max-width: 1175px) {
    .header__bottom-mobile {
        .header__bottom-title {
            font-size: 48px !important;
        }
        .header__bottom-subtitle {
            font-size: 22px !important;
            line-height: 26px !important;
        }
        .header__bottom-item{
            &:nth-child(2){
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width: 1100px){
    .page__title{
        font-size: 45px !important;
    }
    .page__subtitle{
        font-size: 30px !important;
    }
    .mobile__inner{
        align-items: center;
    }
}
@media (max-width: 765px) {
    .header__bottom-mobile {
        .header__bottom-title {
            font-size: 42px !important;
        }
        .header__bottom-subtitle {
            font-size: 20px !important;
        }
    }
    .mobile__inner{
        display: block;
    }
    .mobile__title{
        text-align: center;
    }
}
@media(max-width: 650px){
    .page__title{
        font-size: 35px !important;
    }
    .page__subtitle{
        font-size: 26px !important;
    }
    .mobile__subtext{
        font-size: 24px !important;
    }
    .mobile__point{
        font-size: 35px;
    }
}
@media (max-width: 640px) {
    .header__bottom-mobile .header__bottom-item:nth-child(1) {
        width: 100%;
    }
}
@media (max-width: 615px) {
    .header__bottom-mobile {
        .header__bottom-title {
            font-size: 35px !important;
        }
    }
}
@media(max-width: 490px){
    .page__subtitle{
        font-size: 26px !important;
    }
    .mobile__subtext{
        font-size: 20px !important;
    }
    .mobile__point{
        font-size: 32px;
    }
}
@media(max-width: 400px){
    .mobile__point{
        font-size: 25px;
    }
    .mobile__subtext{
        font-size: 18px !important;
    }
}
@media (max-width: 390px) {
    .header__bottom-subtitle {
        font-size: 17px;
    }
}
