@media (max-width: 1306px) {
    /*  .pizza__item-preview {
        display: block !important;
    } */
    .portfolio{
        .pizza__phone{
            display: block !important;
            width: 100%;
            &-mob{
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 1250px) {
    .portfolio{
        &__inner{
            display: block;
        }
       
    }
}

@media (max-width: 830px) {
    .portfolio {
        &__inner{
            display: block;
            margin-bottom: 60px;
        }
        &__item{
            margin: 0 auto;
            text-align: center;
        }
        &__item-img{
            margin: 0px auto 20px;
            text-align: center;
        }
    }
}
@media(max-width: 370px){
    .portfolio{
        .pizza__item-title{
            margin-bottom: -8px;
        }
        .header{
            &__btn{
                font-size: 15px;
                display: block;
                width: 100%;
            }
        }
    }
}