@media(max-width: 1200px){
    .smm{
        img{
            width: 100%;
        }
    }
}
@media (max-width: 850px){
    .tech__list{
        text-align: left;
    }
    .smm .landings__wrapper-item{
        max-width: 100%;
    }
    .landings__wrapper-item {
        margin-top: 35px;
    }
    .google__list{
        text-align: left;
    }
}


@media(max-width: 550px){
    .comments__item-text{
        font-size: 20px;
    }
    .smm__text {
        font-size: 20px;
    }
    .smm__title{
        font-size: 22px;
    }
}