@media(max-width: 1200px){
    .tech{
        &__item{
            .tech__list{
                font-size: 20px;
                line-height: 24px;
            }
            &:nth-child(1),
            &:nth-child(3){
                margin-right: 10px;
            }
        }
        &__inner{
            margin-bottom: 10px;
        }
    }
}

@media(max-width: 1106px){
    .tech{
        &__item{
            margin: 0 auto 30px;
            &:nth-child(1),
            &:nth-child(3){
                margin-right: auto;
            }
        }
        &__inner{
            display: block;
        }
        &__title{
            text-align: center;
            margin-bottom: 30px !important;
        }
    }
}

@media(max-width: 526px){
    .tech{
        &__item{
            &-title{
                text-align: center;
            }
            padding-left: 10px;
            padding-right: 10px;
            .header__btn{
                display: block;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            &-inner{
                display: block;
            }
            &-text{
                margin-bottom: 35px;
                span{
                    font-size: 22px;
                }
            }
            svg{
                display: none;
            }
            .tech__list{
                font-size: 17px;
                line-height: 17px;
            }
            &:nth-child(1),
            &:nth-child(3){
                margin-right: 10px;
            }
        }
        &__inner{
            margin-bottom: 10px;
        }
    }
}
@media(max-width: 328px){
    .tech{
        &__item{
            .header__btn{
                width: 100%;
            }
        }
    }
}