html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1700px;
    padding: 0 5px;
    margin: 0 auto;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f7ff;
}
.header {
    background-color: white;
    padding-top: 7px;
    font-weight: 600;
    color: #58595f;
    font-size: 18px;
    padding-bottom: 11px;
    -webkit-box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.2);
}
.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__menu {
    max-width: 416px;
    width: 100%;
    position: relative;
}
.header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__avatar {
    margin-right: 84px;
}
.header__avatar img {
    border-radius: 50%;
}
.hamburger {
    display: none;
}
@media (max-width: 1200px) {
    .header__avatar {
        margin-right: 0;
    }
}
@media (max-width: 650px) {
    .header__menu-list {
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        height: 100vh;
        top: 0;
        left: -100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50%;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
    }
    .header__menu-list_active {
        left: 0;
    }
    .header__menu-list .header__menu-item {
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    .header__menu-list .header__menu-item a {
        width: 100%;
    }
    .hamburger {
        display: block;
        z-index: 3;
        left: 10px;
        top: -4px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 35px;
        position: absolute;
        height: 12px;
        cursor: pointer;
    }
    .hamburger span {
        background-color: #e2e2ff;
        display: block;
        height: 5px;
        width: 100%;
        margin-bottom: 3px;
        border-radius: 80px;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all;
    }
    .hamburger_active {
        position: fixed;
        left: 10px;
        top: 25px;
    }
    .hamburger_active span {
        -webkit-transition: 0.6s all;
        -o-transition: 0.6s all;
        transition: 0.6s all;
        margin-bottom: -4px;
    }
    .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
        transform: translateY(3px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
        transform: translateY(3px) rotate(45deg);
    }
}
.achievements {
    padding-top: 80px;
    padding-bottom: 130px;
}
.achievements__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.achievements__info {
    text-align: center;
    height: 519px;
    padding: 38px 67px 88px 67px;
    border-radius: 32px;
    max-width: 416px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
}
.achievements__info-title {
    font-weight: 700;
    font-size: 36px;
    color: #3c3c3c;
    margin: 35px 16px;
}
.achievements__info-subtitle {
    font-weight: 600;
    font-size: 24px;
    color: #8c9399;
}
.achievements__info-img {
    position: relative;
}
.achievements__info-img img {
    border-radius: 50%;
    width: 100%;
}
.achievements__info-edit {
    position: absolute;
    top: 0;
    right: 25px;
}
.achievements__panel {
    max-width: 1151px;
    width: 100%;
    margin-left: 10px;
    background: #e2e2ff;
    border-radius: 32px;
    -webkit-box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
    padding: 67px 70px;
    font-weight: 600;
}
.achievements__panel-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.achievements__panel-top span {
    display: block;
    font-size: 22px;
    text-align: center;
    background-color: white;
    padding: 18px 36px 20px;
    border-radius: 57px;
}
.achievements__panel-settings {
    background-color: #fff;
    border-radius: 50%;
    padding: 13px 14px;
}
.achievements__panel-divider {
    height: 2px;
    background-color: white;
    margin: 30px 0 80px;
}
.achievements__panel-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.achievements__panel-slideritem {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
}
.achievements__panel-item {
    background-color: white;
    padding: 20px;
    border-radius: 27px;
    text-align: center;
    margin-bottom: 30px;
    width: 208px;
    height: 208px;
}
.item {
    background-color: white;
}
.item__bar {
    margin: 7px auto 10px;
    max-width: 150px;
    background: #e9eeff;
    border-radius: 40px;
    height: 14px;
    width: 100%;
}
.item__bar span {
    display: block;
    border-radius: 40px;
    height: 14px;
}
.item__img img {
    border-radius: 12px;
}
.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 51px auto 0;
    max-width: 81px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0;
}
.slick-dots button {
    width: 18px;
    height: 18px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #9191af;
    cursor: pointer;
}
.slick-active {
    border-radius: 50%;
}
.slick-active button {
    background-color: white;
    width: 29px;
    height: 29px;
}
@media (max-width: 1600px) {
    .achievements__inner {
        display: block;
    }
    .achievements__info {
        margin: 0 auto;
    }
    .achievements__panel {
        margin: 40px auto 0px;
    }
}
@media (max-width: 1030px) {
    .achievements__panel-slideritem {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .achievements__panel-item {
        margin: 0 10px 20px;
    }
}
@media (max-width: 665px) {
    .achievements__panel {
        padding: 35px 25px;
    }
}
@media (max-width: 585px) {
    .achievements__panel-slideritem {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}
@media (max-width: 535px) {
    .slick-dots {
        margin-top: 15px;
    }
}
@media (max-width: 509px) {
    .achievements__panel {
        padding: 20px 15px;
    }
}
.stats__panel-slider {
    text-align: center;
}
.stats__panel-slider .slick-slide {
    padding-bottom: 81px;
    margin: 0 5px;
}
.stats__panel-slider .slick-dots {
    margin-top: 0;
}
.stats__panel-slideritem {
    max-width: 814px;
    width: 100%;
    min-height: 455px;
    background-color: white;
    padding: 119px 67px 57px;
    margin: 0 auto;
    border: 1px solid rgba(205, 208, 227, 0.295455);
    border-radius: 24px;
    -webkit-box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
}
.stats__panel-divider {
    height: 2px;
    background-color: white;
    margin: 30px 0 47px;
}
.slideritem__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.slideritem__inner-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slideritem__inner-center .slideritem__item:nth-child(2) {
    margin: 0 123px;
}
.slideritem__item {
    width: 78px;
    height: 78px;
    border: 3px solid #e2e2ff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.slideritem__item span {
    display: block;
    background-color: #e2e2ff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 auto;
}
.slideritem__btn {
    text-align: right;
    margin-top: 44px;
}
.slideritem__btn a {
    outline: none;
    border: none;
}
@media (max-width: 1048px) {
    .stats__panel-slideritem {
        -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
    }
}
@media (max-width: 975px) {
    .slideritem__inner-center {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .slideritem__inner-center .slideritem__item:nth-child(2) {
        margin: 0 17%;
    }
}
@media (max-width: 870px) {
    .slideritem__inner-center .slideritem__item:nth-child(2) {
        margin: 0 10%;
    }
}
@media (max-width: 615px) {
    .slideritem__inner-center .slideritem__item:nth-child(2) {
        margin: 0 7%;
    }
}
@media (max-width: 530px) {
    .slideritem__inner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .slideritem__inner-center .slideritem__item:nth-child(2) {
        margin: 10px;
    }
    .slideritem__item {
        margin: 10px;
    }
}
.settings__panel-settings {
    padding: 12px 19px 11px 16px;
}
.settings__panel {
    max-width: 814px;
    width: 100%;
    min-height: 455px;
    background-color: white;
    padding: 80px 10px 37px 58px;
    margin: 0 auto;
    border: 1px solid rgba(205, 208, 227, 0.295455);
    border-radius: 24px;
    -webkit-box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 27px 42px -8px rgba(0, 0, 0, 0.2);
}
.settings__panel-line {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.settings__panel-line:nth-child(3) {
    margin-bottom: 40px;
}
.settings__panel-line label {
    font-weight: 600;
    font-size: 19px;
    width: 228px;
    padding-right: 10px;
}
.settings__panel-line input::-webkit-outer-spin-button,
.settings__panel-line input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.settings__panel-line input {
    font-weight: 400;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 62px;
    max-width: 321px;
    width: 100%;
    height: 57px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.settings__panel-line input[type="checkbox"] {
    width: 68px;
    height: 30px;
    border-radius: 43px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6cad4;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
}
.settings__panel-line input:checked[type="checkbox"] {
    background: #e2e2ff;
}
.settings__panel-line input[type="checkbox"]::before {
    content: "";
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    top: -4px;
    left: 0;
    border: 4px solid #c6cad4;
    background: #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.settings__panel-line input:checked[type="checkbox"]::before {
    left: 30px;
    border-color: #e2e2ff;
}
.settings__panel-links {
    padding-right: 102px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
}
.settings__panel-links a {
    color: #b7b7b7;
}
.settings__panel-links .logout {
    color: #ff6969;
    margin-right: 14px;
}
@media (max-width: 740px) {
    .settings__panel-line label {
        font-size: 15px;
        width: 150px;
    }
}
@media (max-width: 400px) {
    .settings__panel-line label {
        font-size: 12px;
    }
    .settings__panel {
        padding: 35px 10px 27px 23px;
    }
    .settings__panel-links {
        padding: 0;
        text-align: center;
        margin-top: 50px;
    }
}
.testing__top {
    margin: 41px 0 50px;
}
.testing__top-bar {
    margin-left: 15px;
    max-width: 1606px;
    width: 100%;
    height: 12px;
    background: #e5e5e5;
    border-radius: 50px;
}
.testing__top-bar span {
    display: block;
    border-radius: 50px;
    height: 12px;
}
.testing__top-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.testing__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 65px;
}
.testing__content {
    background-color: #e2e2ff;
    border: 3px solid #d1d1ff;
    max-width: 725px;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 72px;
}
.testing__content-wrapper img {
    border-radius: 20px;
    width: 100%;
}
.testing__content-img {
    margin: 58px 124px;
}
.testing__icons {
    margin-bottom: 65px;
}
.testing__icons-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.testing__icons-item:nth-child(2) {
    -webkit-transform: translateY(-32px);
    -ms-transform: translateY(-32px);
    transform: translateY(-32px);
}
.testing__answer {
    padding: 18px 0;
    background-color: #d7ffb8;
}
.testing__answer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.testing__answer-link {
    margin-right: 116px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    padding: 19px 51px;
    background-color: #58cc02;
    border-radius: 68px;
}
.testing__answer-item {
    margin-left: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.testing__answer-item img {
    width: 100%;
    max-width: 65px;
}
.testing__answer-item span {
    margin-left: 22px;
    font-weight: 700;
    font-size: 30px;
    color: #5fa700;
}
.testing__answer-img {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (max-width: 885px) {
    .testing__answer-item {
        margin-left: 15px;
    }
    .testing__answer-link {
        margin-right: 15px;
    }
}
@media (max-width: 736px) {
    .testing__content-img {
        margin: 35px 65px;
    }
}
@media (max-width: 550px) {
    .testing__icons-item:nth-child(2) {
        text-align: center;
    }
    .testing__icons-item:nth-child(2) img {
        width: 80%;
    }
    .testing__answer-inner {
        display: block;
    }
    .testing__answer-item {
        margin-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .testing__answer-link {
        display: block;
        width: 85%;
        text-align: center;
        margin: 20px auto 0;
    }
}
@media (max-width: 430px) {
    .testing__content-img {
        margin: 25px 45px;
    }
}
.progress__top {
    margin-bottom: 84px;
}
.progress__top-inner {
    margin-top: 214px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.progress__top-item {
    max-width: 1025px;
    padding: 115px;
}
.progress__top .slideritem__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.progress__top .slideritem__inner-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.progress__top .slideritem__inner-center .slideritem__item:nth-child(2) {
    margin: 0 154px;
}
.progress__top-table {
    padding: 37px 50px 0 56px;
    max-width: 449px;
    margin-left: 5px;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    width: 100%;
    min-height: 560px;
    background-color: white;
    border: 1px solid rgba(205, 208, 227, 0.295455);
    border-radius: 24px;
    -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
}
.progress__top-table table {
    width: 100%;
    border-spacing: 0px 30px;
}
.progress__top-circle {
    position: relative;
}
.progress__top-circle::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: -5px;
    background-color: white;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #ceceff;
}
.progress__top-circle .progress__top-line {
    background-color: #e2e2ff;
}
.progress__top-circle-last::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0px;
    background-color: white;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #ceceff;
}
.progress__top-number {
    width: 5%;
    font-weight: 600;
    font-size: 25px;
    color: silver;
}
.progress__top-line {
    height: 2px;
    background-color: #ededed;
    max-width: 315px;
    width: 100%;
}
.progress__top-title {
    font-size: 35px;
    font-weight: 600;
    color: #3c3c3c;
    margin-bottom: 35px;
}
.progress__top-subtitle {
    color: #8c8c8c;
    font-size: 15px;
    margin-bottom: 10px;
}
.progress__top-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
}
.progress__top-bar {
    max-width: 129px;
    height: 12px;
    width: 100%;
    background: #e5e5e5;
    border-radius: 85px;
}
.progress__top-exp {
    margin-left: 6px;
    font-weight: 600;
    color: #e5e5e5;
    font-size: 15px;
}
.downarrow {
    text-align: center;
    margin-bottom: 128px;
}
.progress__content {
    padding-bottom: 950px;
}
.progress__content-wrapper {
    position: relative;
    padding: 33px 105px;
    margin: 0 auto 157px;
    max-width: 450px;
    width: 100%;
    min-height: 860px;
    background-color: white;
    -webkit-box-shadow: 0 32px 43px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 32px 43px -10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border: 1px solid rgba(205, 208, 227, 0.295455);
}
.progress__content-purpleimg {
    position: absolute;
    top: -65px;
    width: 65px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 65px;
    background: #fdb4ff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    border: 18px solid #f4f7ff;
}
.progress__content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.progress__content-inner:nth-child(3),
.progress__content-inner:nth-child(5),
.progress__content-inner:nth-child(7) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 35px;
}
.progress__content-inner:nth-child(8) {
    margin-bottom: 0;
}
.progress__content-item {
    width: 90px;
    height: 90px;
    border: 3px solid #e2e2ff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.progress__content-item span {
    display: block;
    background-color: #e2e2ff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto;
}
@media (max-width: 1488px) {
    .progress__top-inner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .progress__top-table {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
}
@media (max-width: 1000px) {
    .progressitem__item {
        margin: 10px;
    }
    .progress__top .slideritem__inner-center .slideritem__item:nth-child(2) {
        margin: 10px 18%;
    }
}
@media (max-width: 671px) {
    .progress__top .slideritem__inner-center .slideritem__item:nth-child(2) {
        margin: 10px 2%;
    }
}
@media (max-width: 633px) {
    .progressitem__inner {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}
@media (max-width: 391px) {
    .progress__content-inner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 35px 0;
    }
    .progress__content-inner .progress__content-item-second {
        margin-top: 35px;
    }
}
@media (max-width: 366px) {
    .progress__top-title {
        font-size: 28px;
        text-align: center;
    }
    .progress__top-subtitle {
        text-align: center;
    }
    .progress__top-text {
        display: block;
    }
    .progress__top-bar,
    .progress__top-exp {
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 347px) {
    .progress__top-item {
        padding: 95px;
    }
}
