.place__info-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    color: #fff;
    transition: opacity .3s ease;
}

.place__info-link:hover {
    opacity: 0.8;
}