.auto {
    margin-bottom: 0;
    &__title {
        font-size: 30px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        transform: translateY(4px);
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 283px;
            min-height: 397px;
            overflow: hidden;
            padding: 27px 20px 16px;
            border-radius: 10px;
            box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.43);
            background-color: #ffffff;
            &:nth-child(2) {
                margin: 0 15px;
            }
        }
    }
}
.item {
    margin: 0 auto;
    &__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__img {
        height: 180px;
        margin-bottom: 30px;
    }
    &__desc {
        align-self: flex-start;
        font-size: 18px;
        font-weight: 500;
        color: #1d1d1d;
        &-title {
            margin-bottom: 13px;
        }
        &-subtitle {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        &-btn {
            font-weight: 500;
            padding: 8px 23px;
            border-radius: 15px;
            background-color: #18515d;
            color: #fff;
        }
    }
}

@media (max-width: 1293px) {
    .title {
        margin-top: 0;
        text-align: center;
    }
    .auto {
        &__img {
            display: none;
        }
        &__wrapper {
            justify-content: center;
            margin-bottom: 40px;
        }
        &__cards {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
@media (max-width: 907px){
    .auto {
        &__cards {
            &-item {
                &:nth-child(3) {
                    margin-top: 40px;
                }
            }
        }
    }
}
@media (max-width: 624px){
    .auto {
        &__cards {
            &-item {
                &:nth-child(3) {
                    margin-top: 40px;
                }
                &:nth-child(2) {
                    margin-top: 40px;
                }

            }
        }
    }
}