.carousel__easy {
    font-weight: 500;
    margin-bottom: 55px;
    overflow: hidden;
}
.easy {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
        grid-column-gap: 61px;
        position: relative;
    }
    &__slider {
        &-bg {
            position: absolute;
            z-index: -1;
            width: 407px;
            height: 303px;
            bottom: 7px;
            left: -5px;
        }
    }
    &__info {
        &-btn {
            margin: 0 auto;
        }
        &-title {
            font-size: 30px;
        }
        &-list {
            margin-bottom: 94px;
            li {
                margin-bottom: 15px;
            }
        }
    }
}

//slick dots settings

.easy__slider {
    .slick-dots {
        display: flex;
        justify-content: space-between;
        width: 130px;
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translateX(-50%);
        li {
            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }

    .slick-dots button {
        font-size: 0;
        cursor: pointer;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;
        background-color: white;
        outline: none;
        opacity: 0.6;
    }
}

@media (max-width: 890px) {
    .slick-slide img{
        width: 100%;
    }
    .easy__slider{
        .slick-dots{
            position: inherit;
            bottom: 38px;
        }
    }

    .easy {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
            grid-column-gap: 11px;
            position: relative;
        }
        &__info-list{
            margin-bottom: 12px;
        }
        &__info{
            &-title{
                font-size: 25px;
            }
            &-list{
                font-size: 14px;
                ol{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}