.about__title {
    grid-column: 7 span;
    margin: 0 0 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media (max-width: 1024px) {
    .about__title {
        grid-column: 9 span;
    }
}

@media (max-width: 768px) {
    .about__title {
        grid-column: 12 span;
    }
}

@media (max-width: 425px) {
    .about__title {
        font-size: 32px;
        line-height: 35px;
    }
}