.cover__inner {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    max-height: 0;
    background: url("../../../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s linear;
    text-decoration: none;
    color: #fff;
    padding: 31.5% 0;
}

.cover__inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2A2C2F;
    opacity: .3;
    transition: opacity .3s ease;
}


.cover__inner:hover::before {
    opacity: .8;
}