.audit{
    .mobile__point{
        font-weight: 500;
    }
    &__text{
        margin-bottom: 50px;
    }
    .landings__list{
        font-size: 18px;
    }
    &__point{
        max-width: 900px;
        width: 100%;
    }
}