.header__brief {
    position: relative;
    margin-bottom: 0;
    .header__item {
        &-checkbox {
            color: black;
            border-color: black;
        }
        &-light {
            color: black;
        }
        &-right {
            color: black;
        }
    }
    .header__btn {
        border-color: black;
    }
}
.brief {
    textarea {
        width: 100%;
        margin-top: 15px;
        resize: none;
        border: none;
        border-bottom: 1px solid #5d6075;
        outline: none;
        font-weight: 600;
        font-size: 24px;
        min-height: 150px;
        &:focus {
            border-color: $violet;
        }
    }
    margin-top: 120px;
    &__title {
        font-size: 80px;
        color: $maincolor;
        font-weight: 700;
        margin-bottom: 60px;
    }
    &__select {
        border-radius: 5px;
        border: 1px solid $maincolor;
        outline: none;
        max-width: 360px;
        width: 100%;
        height: 52px;
        padding: 0 20px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        background: rgba(208, 217, 222, 0.3);
    }
    &__subtitle {
        font-size: 32px;
        margin-bottom: 95px;
    }
    &__form {
        input {
            display: block;
            width: 100%;
            height: 55px;
            outline: none;
            border: none;
            font-weight: 600;
            font-size: 24px;
            color: $maincolor;
            border-bottom: 1px solid #5d6075;
            &:focus {
                border-color: $violet;
            }
        }
    }
    &__upload {
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 70px;
        }
        &-file {
            margin-right: 20px;
            cursor: pointer;
            margin-bottom: 20px;
        }
    }
    &__btn {
        background-color: #9468b4;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        max-width: 318px;
        width: 100%;
        height: 52px;
        text-align: center;
        cursor: pointer;
    }
    &__line {
        position: relative;
        margin-bottom: 60px;
        /* REMOVE ARROWS INPUT NUMBER */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        &:last-child {
            text-align: center;
        }
        &-file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            & + label {
                margin-top: 25px;
                display: block;
                cursor: pointer;
                width: 97px;
                background: #cccccc;
                border-radius: 4px;
                background-image: url(../images/main/file.svg);
                background-position: center;
                padding-left: 0 !important;
                background-repeat: no-repeat;
                position: relative;
                span {
                    position: absolute;
                    bottom: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                height: 97px;
                font-size: 12px;
                &::before {
                    width: 0 !important;
                }
            }
        }
        p {
            margin: 0;
            padding-left: 7px;
            font-size: 12px;
        }
        &-list {
            display: flex;
            max-width: 710px;
            width: 100%;
            margin-top: 30px;
            align-items: center;
            .brief__list {
                height: 18px;
                min-width: 18px;
                max-width: 18px;
                margin-right: 15px;
                background-color: $maincolor;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 1px solid $maincolor;
                border-radius: 4px;
                position: relative;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    background-color: #9468b4;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 2px;
                    width: 0;
                    height: 0;
                    transition: all 0.3s;
                }
                &:checked {
                    &::before {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
            span {
                display: block;
            }
        }
        label {
            font-size: 18px;
            padding-left: 6px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 2px;
                height: 22px;
                background-color: $violet;
            }
        }
        sup {
            color: $violet;
        }
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &-designwrapper {
            .brief__line-check {
                width: 100%;
                &:nth-child(1) {
                    max-width: 350px !important;
                    margin-right: 25px !important;
                }
                &:nth-child(2) {
                    max-width: 400px !important;
                }
            }
        }
        &-lastwrapper {
            .brief__line-check {
                &:nth-child(4) {
                    max-width: 390px !important;
                    width: 100%;
                }
            }
        }
        &-bottomwrapper {
            flex-wrap: wrap;
            width: 60%;

            .brief__line-check {
                max-width: 230px;
                margin-left: 0;
                width: 100%;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                    margin-right: 145px;
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6) {
                    max-width: 360px;
                }
                &-style {
                    max-width: 100%;
                }
            }
            .brief__line-check + .brief__line-check {
                margin-left: 0;
            }
        }
        &-check {
            display: flex;
            margin-top: 25px;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            & + & {
                margin-left: 60px;
            }
            span {
                display: block;
                margin-left: 15px;
            }
        }
        input[type="range"] {
            margin-top: 30px;
            outline: none;
            position: relative;
            border-bottom: none !important;
            &::before,
            &::after {
                content: "";
                min-width: 18px;
                height: 18px;
                position: absolute;
                background-color: #9468b4;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                right: 0;
            }
        }
    }
    &__count {
        display: flex;
        justify-content: space-between;
        &-number {
            display: flex;
        }
    }
    &__checkbox {
        display: none !important;
    }
    &__checkbox + label {
        display: block;
        min-width: 18px;
        max-width: 18px;
        background-color: $maincolor;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid transparent;
        &::before {
            content: "";
            width: 0;
        }
    }
    &__checkbox:checked + label {
        position: relative;
        border: 1px solid $violet;
        &::after {
            content: "";
            position: absolute;
            background-color: $violet;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            left: 3px;
        }
    }
}

#amount {
    display: block;
    margin-top: 20px;
    padding-bottom: 15px;
    max-width: 201px;
    border-bottom: 1px solid #5d6075;
    font-weight: 600;
    font-size: 24px;
    &::after {
        content: "грн.";
        margin-left: 15px;
    }
}
