.crm{
    .landings__list{
        font-size: 26px;
        line-height: 43px;
        font-weight: 500;
        li + li {
            margin-top: 65px;
        }
    }
    &__title{
        max-width: 65%;
        margin-bottom: 123px !important;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        &-last{
            margin-top: 180px;
            align-items: baseline;
            margin-bottom: 180px;
        }
    }
    &__text{
        font-size: 26px;
        &-last{
            line-height: 43px;
        }
    }
    &__item{
        max-width: 700px;
        width: 100%;
        &-down{
            transform: translateY(90px);
        }
        &-doubledown{
            transform: translateY(190px);
        }
        &-last{
            transform: translateY(40px);
        }
        &-center{
            text-align: center;
            .crm__text{
                font-weight: 500;
            }
        }
    }
}