.develop{
    &__subtitle{
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .tech__item{
        min-height: 450px;
        &-inner{
            margin-bottom: 160px;
        }
    }
    &__inner{
        margin-bottom: 140px;
    }
}