@media (max-width: 1600px) {
    .works {
        &__item {
            width: 33.3%;
            &-title {
                font-size: 40px;
            }
            &-all {
                padding: 0 10px;
            }
        }
    }
    .progress {
        &__inner {
            display: block;
            margin: 0 auto;
        }
        &__item {
            margin: 0 auto 30px;
            max-width: 400px;
            border-radius: 10px;
            box-shadow: 0px 2px 12px rgba(14, 14, 18, 0.3);
            &-img{
                width: 40%;
                transform: translateX(-75%);
            }
            &-title{
                margin-left: 25px;
                font-size: 55px;
            }
            &-text{
                text-align: center;
                font-size: 24px;
                margin-left: 0;
            }
            &::after {
                content: "";
                border: none;
                box-shadow: none;
            }
            &::before {
                content: "";
                background-image: url(../../images/main/progress-line.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                left: 100%;
                top: auto;
                bottom: 0;
                z-index: -1;
                position: absolute;
                filter: none;
                box-shadow: none;
                width: 19px;
                height: 28px;
            }
            &:nth-child(2){
                &::before{
                    transform: scale(-1, 1);
                    left: -19px;
                }
            }
            &:nth-child(4){
                &::before{
                    transform: scale(-1, 1);
                    left: -19px;
                }
            }
        }
        &__title {
            text-align: center;
        }
    }
    .order {
        max-width: 1200px;
        &__info {
            &-text {
                font-size: 31px;
                line-height: 38px;
            }
        }
        &__links {
            margin-right: 58px;
            margin-left: 57px;
        }
    }
}
@media (max-width: 1410px) {
    .mainscreen {
        &__text {
            font-size: 20px;
        }
        &__container {
            top: 12%;
        }
    }
    .cards {
        margin-bottom: 70px;
        &__inner {
            justify-content: space-around;
            padding: 0 15px;
        }
        &__item {
            &-title {
                font-size: 26px;
            }
        }
    }
    .skills {
        &__inner {
            display: block;
        }
        &__info {
            margin: 0 auto 120px;
            max-width: 100%;
            width: 65%;
        }
        &__table {
            margin: 0 auto 30px;
        }
    }
    .order {
        max-width: 900px;
        padding: 30px;
        &__title {
            margin: 0 0 15px 0 !important;
        }
        &__btn {
            display: block;
            margin: 0 auto;
            &-brief {
                display: inline-block;
            }
        }
        &__inner {
            display: block;
        }
        &__info {
            display: inline;
            &-text {
                font-size: 27px;
                text-align: center;
                margin-bottom: 15px;
            }
            &-subtext {
                text-align: center;
                font-size: 16px;
            }
        }
        &__form {
            input {
                height: 35px;
                font-size: 20px;
                margin-bottom: 25px;
            }
        }
        &__bottom {
            img {
                display: none;
            }
        }
        &__links {
            display: none;
        }
        &__close {
            top: -50px;
        }
        &__descr {
            line-height: 18px;
            font-size: 15px;
            span {
                text-align: center;
                padding-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}
@media (max-width: 1385px) {
    .header {
        &__menu {
            display: none;
            &-list {
                display: none;
            }
        }
        &__item {
            &-checkbox {
                border-color: #000;
            }
            &-light {
                color: #000;
            }
        }
    }
}
@media (max-width: 1350px) {
    .mainscreen {
        &__example {
            &-title {
                font-size: 50px;
            }
        }
    }
}
@media (max-width: 1315px) {
    .reviews {
        &__nav {
            &-item {
                img {
                    width: 60%;
                }
            }
        }
    }
    .mainscreen {
        &__title {
            font-size: 75px;
        }
    }
}
@media (max-width: 1200px) {
    .topoverlay {
        &__order {
            margin-left: 25px;
        }
    }
    .mainscreen {
        &__title {
            font-size: 65px;
        }
        &__subtitle {
            font-size: 27px;
        }
        &__text {
            font-size: 16px;
        }
        &__example {
            &-site {
                font-size: 20px;
            }
        }
    }
    .services {
        padding: 70px 0;
        margin-bottom: 30px !important;
        &__box {
            flex-wrap: wrap;
            justify-content: center;
        }
        .slick-dots {
            margin-top: 10px;
        }
        &__maintitle {
            text-align: center;
            margin-bottom: 30px;
        }
        &__title {
            margin: 30px auto 0;
            max-width: 700px;
            width: 100%;
        }
        &__img {
            order: 2;
        }
    }
}
@media (max-width: 1125px) {
    .works {
        &__item {
            width: 50%;
        }
    }
    .reviews .slick-dots {
        width: 70%;
    }
}
@media (max-width: 1055px) {
    .topoverlay {
        &__wrapper {
            display: block;
        }
        &__order {
            display: flex;
            width: 100%;
            height: 100%;
            margin: 0;
            max-width: 100%;
        }
    }
    .order {
        max-width: 700px;
    }
    .mainscreen {
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 20px;
            max-width: 70%;
        }
        &__text {
            font-size: 15px;
        }
    }
}
@media (max-width: 980px) {
    .header {
        &__btn {
            border-color: #000;
            color: #000;
        }
        &__tel {
            display: none;
        }
        &__item {
            &-right {
                display: none;
            }
        }
    }
    .mainscreen {
        &__wrapper {
            display: block;
        }
        &__container {
            top: 16%;
        }
        &__title {
            font-size: 75px;
        }
        &__right {
            display: none;
        }
        &__left {
            width: 100%;
        }
        &__text {
            font-size: 27px;
        }
        &__box {
            max-width: 100%;
            text-align: center;
        }
        &__subtitle {
            max-width: 100%;
            font-size: 35px;
        }
        &__logos {
            margin: 0 auto 40px;
        }
    }
}
@media (max-width: 900px) {
    .topoverlay {
        &__close {
            margin-right: 35px;
        }
    }
    .skills {
        &__table {
            padding: 60px 15px 10px;
            &-list {
                display: block;
            }
            &-menu {
                margin: 0 auto 50px !important;
                text-align: center;
                &:nth-child(2) {
                    margin-top: 220px !important;
                    &::before {
                        top: -185px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    ul {
                        width: 100%;
                    }
                }
                &:nth-child(3) {
                    margin-top: 200px !important;
                    margin-bottom: 0 !important;
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                        top: -170px;
                    }
                }
                ul {
                    li {
                        &:before {
                            content: "";
                        }
                    }
                }
                span {
                    margin: 0 auto;
                }
                &:nth-child(1)::before {
                    top: -175px;
                }
            }
        }
    }
}
@media (max-width: 850px) {
    .order {
        max-width: 500px;
        &__info {
            &-text {
                font-size: 21px;
                line-height: 26px;
            }
            &-subtext {
                font-size: 11px;
            }
        }
        &__descr {
            font-size: 11px;
            line-height: 15px;
        }
    }
}
@media (max-width: 825px) {
    .reviews {
        &__slider {
            &-item {
                padding: 40px 25px 10px 25px;
            }
        }
    }
    .footer {
        padding-top: 30px;
        &__inner {
            display: block;
            text-align: center;
            margin-bottom: 0;
        }
        &__menu {
            margin-bottom: 30px;
            &-logos {
                margin: 30px auto;
            }
        }
        &__top {
            justify-content: center;
            &-divider {
                display: none;
            }
        }
    }
}
@media (max-width: 800px) {
    .mainscreen {
        &__text {
            font-size: 17px;
            margin: 15px auto 30px;
        }
    }
}
@media (max-width: 700px) {
    .topoverlay {
        &__menu {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
@media (max-width: 650px) {
    .order {
        max-width: 400px;
        &__info {
            &-text {
                font-size: 17px;
                line-height: 22px;
            }
            &-subtext {
                font-size: 11px;
            }
        }
        &__descr {
            font-size: 11px;
            line-height: 15px;
        }
        &__btn {
            font-size: 20px;
        }
        &__form {
            input {
                margin-bottom: 15px;
                font-size: 15px;
            }
        }
    }
    .works {
        &__item {
            width: 100%;
        }
    }
    .services {
        img {
            width: 100%;
        }
        .slick-dots {
            margin-top: 10px;
        }
        &__maintitle {
            text-align: center;
            margin-bottom: 30px;
        }
        &__title {
            margin: 30px 0;
        }
        &__info {
            &-title {
                font-size: 33px;
                text-align: center;
            }
        }
    }
}
@media (max-width: 605px) {
    .reviews {
        text-align: center;
        padding-top: 50px;
        &__title {
            margin-bottom: 30px;
        }
        &__user {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
    }
    .works {
        margin-bottom: 30px;
    }
    .skills {
        &__title {
            text-align: center;
        }
        &__info {
            width: 95%;
            background-color: rgba(223, 190, 219, 0.2);
            border-radius: 20px;
            margin-bottom: 30px;
            &-secondquote {
                transform: rotate(180deg) translateY(-20px);
            }
            &-quote {
                transform: translateY(-20px);
                margin-bottom: 0;
            }
            &-text {
                padding: 20px;
            }
        }
        &__table {
            background-color: white;
            &-list {
                margin-bottom: 0;
            }
            &-menu {
                margin: 0 auto 30px !important;
                &:nth-child(1)::before {
                    top: 55px;
                    left: 30%;
                }
                &:nth-child(2) {
                    margin-top: 0 !important;
                    span {
                        text-align: center;
                    }
                    ul {
                        width: auto;
                        margin-right: 50%;
                        margin-left: 0;
                    }
                    &::before {
                        top: 75px;
                        left: 70%;
                    }
                }
                &:nth-child(3) {
                    margin-top: 0 !important;
                    &::before {
                        top: 37px;
                        left: 30%;
                    }
                }
                span {
                    width: 100%;
                    max-width: 100%;
                    text-align: right;
                    margin-bottom: 20px;
                }
                ul {
                    margin-left: 50%;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .header {
        overflow-x: hidden;
        &__item {
            width: 100%;
            &-checkbox {
                display: none;
            }
        }
        &__logo {
            margin-right: 0;
        }
    }
    .topoverlay__checkbox {
        display: flex;
        margin: 0 auto 15px;
    }
    .hamburger {
        margin-right: 0;
    }
    .order {
        max-width: 325px;
        padding: 20px;
        &__close {
            top: -80px;
            right: 50%;
            transform: translateX(50%);
        }
        &__info {
            &-text {
                font-size: 14px;
                line-height: 18px;
            }
            &-subtext {
                font-size: 9px;
            }
        }
        &__title {
            font-size: 12px;
        }
        &__descr {
            font-size: 11px;
            line-height: 15px;
        }
        &__btn {
            font-size: 15px;
        }
        &__inner {
            margin-bottom: 15px;
        }
        &__form {
            input {
                margin-bottom: 10px;
                font-size: 13px;
            }
        }
    }
}
@media (max-width: 500px) {
    .topoverlay {
        &__header {
            margin-bottom: 15px;
            display: block;
        }
        &__close {
            margin-right: 0;
            text-align: center;
            margin-bottom: 15px;
        }
        .container {
            padding: 0;
        }
        &__menu {
            padding-left: 5px;
            width: 100%;
            text-align: center;
            /*   a{
                width: 100%;
            } */
        }
        &__logo {
            text-align: center;
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__order-title {
            font-size: 20px;
            text-align: center;
        }
        &__links {
            display: none;
        }
    }
    .mainscreen {
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 14px;
        }
        &__container {
            top: 15%;
        }
    }
    .reviews {
        &__nav {
            &-item {
                img {
                    width: 100%;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .services {
        &__info {
            &-title {
                font-size: 28px;
            }
        }
        &__maintitle {
            font-size: 40px;
        }
    }
}
@media (max-width: 450px) {
    .mainscreen__text {
        font-size: 11px;
    }
}
@media (max-width: 430px) {
    .progress {
        padding-bottom: 30px;
        &__item {
            max-width: 300px;
            height: 285px;
            &-title{
            }
            &-text {
            }
        }
    }
}
@media (max-width: 345px) {
    .mainscreen {
        &__title {
            font-size: 38px;
        }
        &__text {
            font-size: 10px;
        }
    }
    .progress {
        .mainscreen__btn {
            width: 90%;
            font-size: 20px;
        }
        &__item {
            max-width: 250px;
            height: 230px;
            &-title{
                font-size: 40px;
                margin-bottom: 10px;
            }
            &-text {
                font-size: 20px;
            }
        }
    }
}
