.money{
    &__title{
        .pizza__title-sub{
            margin-top: -4px;
        }
    }
    .pizza__item-preview{
        top: 278px;
        right: 0;
    }
    &__zero{
        border-radius: 10px;
    }
}




