.header{
    &__portfolio{
        margin-bottom: 140px;
        .header__top{
            margin-top: 0;
            padding-top: 20px;
        }
    }
}
.pizza {
    &__title {
        max-width: 527px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        &-main {
            font-size: 70px;
            font-weight: 700;
            text-align: center;
        }
        &-sub {
            color: $purple;
            font-size: 20px;
            padding-left: 25px;
            margin-top: -15px;
            font-weight: 600;
            text-align: left;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 5px;
                background-image: url(../images/pizza/key.svg);
                width: 9px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__reviews{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .reviews__slider-item{
                padding-left: 0;
            }
        }
    }
    &__text {
        font-size: 24px;
        line-height: 30px;
        max-width: 830px;
        width: 100%;
        margin: 0 auto;
    }
    &__header {
        margin-bottom: 130px;
        text-align: center;
        margin-top: 120px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 160px;
        align-items: center;
        &-bottom {
            margin-bottom: 90px;
        }
        &-header{
            padding-bottom: 20px;
        }
    }
    &__item {
        /* margin-left: 450px; */
        max-width: 600px;
        width: 100%;
        &-left {
            order: -1;
            margin-left: 0;
            /* margin-right: 300px; */
        }
        &-bottom {
            mask-image: linear-gradient(180deg, #c4c4c4 0%, #c4c4c4 27.6%, rgba(196, 196, 196, 0) 100%);
            border-radius: 55px 55px 0px 0px;
            img {
                max-width: 360px;
                width: 100%;
                border-radius: 45px 45px 0px 0px;
            }
        }
        &-img {
            position: relative;
            &-left {
                /* margin-right: 150px; */
            }
        }
        &-preview {
            position: absolute;
            top: 227px;
            right: -195px;
            border-radius: 5px;
            filter: drop-shadow(20px 40px 80px rgba(16, 16, 16, 0.25));
            &-second {
                top: 409px;
                right: -244px;
                filter: drop-shadow(10px 20px 40px rgba(16, 16, 16, 0.2));
            }
            &-third{
                right: 50px !important;
            }
        }
        &-title {
            font-size: 70px;
            font-weight: 700;
            margin-bottom: 40px;
        }
        &-text {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 62px;
        }
        &-link {
            color: $purple;
            font-weight: 700;
            font-size: 32px;
            position: relative;
            padding-right: 45px;
            margin-bottom: 21px;
            &::after {
                content: "";
                width: 25px;
                height: 22px;
                position: absolute;
                background-image: url(../images/pizza/link-arrow.svg);
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }
    &__appstore {
        filter: drop-shadow(0px 1px 15px rgba(74, 74, 74, 0.5));
    }
    &__phone {
        filter: drop-shadow(20px 40px 80px rgba(16, 16, 16, 0.25));
        border-radius: 45px;
        &-absolute {
            position: absolute;
            top: 84px;
            right: -250px;
        }
        &-header {
            transform: translateY(150px);
        }
    }
    &__reviews {
        border: none;
        padding-top: 0;
    }
}
