.rework{
    .landings__wrapper-item{
        width: auto;
    }
    .landings__wrapper-item-right{
        width: auto;
    }
    &__item{
        &-text{
            font-size: 24px !important;
            line-height: 30px !important;
            margin-top: 46px;
        }
        &-title{
            font-size: 36px !important;
            text-transform: uppercase;
            margin-bottom: 25px !important;
        }
        &-img{
            text-align: center;
        }
    }
    .comments__inner-fourth .comments__item{
        width: 100%;
        max-width: 700px;
    }
}