.seo {
    &__title {
        width: 50%;
        margin-bottom: 55px !important;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        &-last {
            margin-bottom: 125px;
        }
    }
    &__item {
        .landings__title {
            margin-top: 35px;
        }
        img {
            max-width: 100%;
        }
        display: flex;
        flex-direction: column;
        justify-self: center;
        max-width: 700px;
        width: 100%;
        align-items: center;
        &-title {
            font-size: 36px;
            margin-top: 40px;
            margin-bottom: 25px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-subtitle {
            font-size: 36px;
            font-weight: 700;
            align-self: start;
        }
        &-text {
            font-size: 18px;
            line-height: 22px;
            &-last{
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
}
