.smm {
    .landings__wrapper-item {
        max-width: 700px;
        width: 100%;
    }
    .comments__item {
        max-width: 700px;
        width: 100%;
    }
    .google__list {
        margin-top: 35px;
        font-weight: 400;
        li + li {
            margin-top: 35px;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
        position: relative;
        text-transform: uppercase;
        &::before {
            content: "";
            position: absolute;
            left: -40px;
            background-image: url(../images/landings/list.svg);
            background-repeat: no-repeat;
            width: 22px;
            height: 16px;
            bottom: 20%;
        }
    }
    &__text {
        margin-bottom: 20px;
        font-size: 26px;
    }
}
