.tech {
    padding-bottom: 100px;
    &__list {
        font-size: 22px;
        line-height: 27px;
        li + li {
            margin-top: 10px;
        }
        li {
            padding-left: 25px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 10px;
                height: 10px;
                background: #9468b4;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__title {
        margin-bottom: 120px !important;
    }
    &__maintitle {
        font-size: 50px;
        margin-bottom: 40px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__item {
        box-shadow: 10px 20px 40px rgba(16, 16, 16, 0.2);
        border-radius: 10px;
        max-width: 700px;
        width: 100%;
        padding: 40px 40px 30px 50px;
        transition: all .3s ease-in-out;
        min-height: 408px;
        &:nth-child(1),
        &:nth-child(3){
            margin-right: 30px;
        }
        &:hover{
            background: #9468b4;
            color: #fff;
            svg{
                    fill: white !important;
            }
            .tech__list{
                li{
                    &::before{
                        background: #fff;
                    }
                }
            } 
        }
        .header__btn{
            background-color: #9468b4;
        }
        &-inner{
            display: flex;
            min-height: 220px;
            max-height: 220px;
            margin-bottom: 70px;
        }
        &-img{
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-title{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        &-subtext{
            font-weight: 500;
            font-size: 18px;
        }
        &-text{
            span{
                font-size: 26px;
                font-weight: 700;
            }
        }
        .tech__list{
            font-weight: 500;
        }
    }
}
