.about__item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column: 7 span;
}

@media (max-width: 1024px) {
    .about__item {
        grid-template-columns: repeat(12, 1fr);
    }
}