.advantages{
    padding: 70px 80px;
    background-color: #f6f6f6;
    &__icon{
        &-animated{
            animation: heartbeat 1.7s ease-in-out infinite;
  /*           animation-name: heartbeat;
            animation-duration: 1.7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite; */
            &:hover{
                animation-play-state: paused;
            }
        }
    }
    &__title{
        margin: 0;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        margin-bottom: 70px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 240px;
            text-align: center;
            img{
                margin-bottom: 42px;
            }
        }
    }
}
.item{
    &__title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 14px;
        font-weight: 400;
        max-width: 255px;
        a{
            text-decoration: underline;
            color: #ff0000;
        }
    }
}

@media(max-width: 1100px){
    .advantages{
        padding: 40px 25px;
        &__inner{
            justify-content: space-around;
            &-item{
                margin-bottom: 20px;
            }
        }
        &__title{
            font-size: 26px;
        }
    }
}